<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MasterPagePharm.master.cs" Inherits="MasterPagePharm" %>

<!DOCTYPE html>

<html>
<head runat="server">
    
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
    </style>
     
    <title>EHCMS</title>
    <link rel="stylesheet" href="css/style.css?id=8788">
     <script src ="js/script.js"> </script>
    <script src ="js/jquery.min.js"> </script>
    <script src ="js/font.js"> </script>
    <%--<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>--%>
    <script type="text/javascript" >

        function FillBg() {
            //$("#aLogin").removeClass('btnLoginPopUp'); 
        }
    </script>

</head>
<body class="host_version">
    <form id="form1" runat="server">
    <div>
        <header>
    <h2 class ="logo" > <a href ="HomepageAfterLoginPharm.aspx" id ="abHomepagePharm"> EHCMS </a></h2>  <%--  Error occurs when running --%>
    <nav class="navigation">
       <%-- <a href = "default2.aspx" onlick="FillBg()" id="aHome">Home</a>--%>
       <%-- <a href = "MedicineRequestsPharm.aspx" id="aMedicineRequestsPharm"> Medicine Requests </a>
        <a href = "ProfilePharm.aspx" id="aProfilePharm">Profile</a>--%>
        <%--<button class ="btnLoginPopUp"> Login</button>--%>
         <a href = "MedicineRequestsPharm.aspx" > Medicine Requests </a>
        <a href = "ProfilePharm.aspx" >Profile</a>
    </nav>

   </header>
        <div style="min-height:600px;">
        <asp:ContentPlaceHolder id="CphBody" runat="server">
        
        </asp:ContentPlaceHolder>
            </div>
    </div>
 
<%--<Footer>--%>
        
    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name boxHeight">All Rights Reserved. &copy; 2024  Design By : Erica</a></p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end Footer -->
        

    
	





    </form>
</body>
</html>
